:root {
    --main-title-color: #211221;
    --main-color: #ffffff;
    --acent-color: #afb1b8; 
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--main-title-color);
}

p,
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0; 
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.navbar {
    margin-bottom: 50px;
}
.logo {
    font-size: 48px;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--main-title-color);
}

.hero__title {
    text-align: center;
    margin-bottom: 20px;
}
.hero-sub__title {
    text-align: center;
    margin-bottom: 300px;
}
.hero__box {
    position: relative;
}

.row {
    align-items: center;
    align-content: center;
}
.row-cols-2 {
    background-color: ;
}

.btn-primary {
    background-color: lavender;
    color: grey;
    border-color: lavenderblush;
    align-items: center;
    justify-content: center;
}
.btn:hover {
    color: lemonchiffon;
    background-color: lightgray;
}

.hero__text {
    margin-bottom: 10px;
}

.icon-box {
    align-items: center;
    justify-content: center;
    display: flex;
}
.cow-icon {
    margin-right: 5px;
}

.details__title {
    margin-bottom: 15px;
}
.details__text {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
}

.card {
    margin-right: 30px;
    border: none
    
}
.cow-face {
    font-size: 32px;
    position: absolute;
    top: 30px;
    left: -130px;
}
@media screen and (min-width: 1080px) {
    .cow-face {
        left: 160px;
        top: 20px;
      }
}

