:root {
    --main-title-color: #211221;
    --main-color: #ffffff;
    --acent-color: #afb1b8; 
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--main-title-color);
}

p,
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0; 
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.conatainert {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}