:root {
    --main-title-color: #211221;
    --main-color: #ffffff;
    --acent-color: #afb1b8; 
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--main-title-color);
}

p,
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0; 
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.logo {
    font-size: 48px;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--main-title-color);
}

.hero-title {
    text-align: center;
}
.hero-sub__title {
    text-align: center;
}

.row {
    align-items: center;
    align-content: center;
}
.row-cols-2 {
    background-color: ;
}

.btn-primary {
    background-color: #059150;
}

.hero__text {
    margin-bottom: 10px;
}